/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-32 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.gap-7 {
  gap: 1.75rem;
}

@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format("woff2");
  unicode-range: U+1f??;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Inter_abbad9;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Inter_Fallback_abbad9;
  src: local("Arial");
  ascent-override: 90.2%;
  descent-override: 22.48%;
  line-gap-override: 0%;
  size-adjust: 107.4%;
}
.__className_abbad9 {
  font-family: __Inter_abbad9, __Inter_Fallback_abbad9;
  font-style: normal;
}
.__variable_abbad9 {
  --font-inter: "__Inter_abbad9", "__Inter_Fallback_abbad9";
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/77ce01c003603e77-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/ccd5f404b5d91fc0-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/78bcd7d80ba05af5-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/a9ae0bb0e1e9484e-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5269767769affeeb-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/0a7d1127b1849c3a-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/77ce01c003603e77-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/ccd5f404b5d91fc0-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/78bcd7d80ba05af5-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/a9ae0bb0e1e9484e-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/5269767769affeeb-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/0a7d1127b1849c3a-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/77ce01c003603e77-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/ccd5f404b5d91fc0-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/78bcd7d80ba05af5-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/a9ae0bb0e1e9484e-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/5269767769affeeb-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/0a7d1127b1849c3a-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/77ce01c003603e77-s.woff2) format("woff2");
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/ccd5f404b5d91fc0-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/78bcd7d80ba05af5-s.woff2) format("woff2");
  unicode-range: U+0370-03ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/a9ae0bb0e1e9484e-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/5269767769affeeb-s.woff2) format("woff2");
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Roboto_Mono_6e8b56;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/0a7d1127b1849c3a-s.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+feff, U+fffd;
}
@font-face {
  font-family: __Roboto_Mono_Fallback_6e8b56;
  src: local("Arial");
  ascent-override: 77.08%;
  descent-override: 19.93%;
  line-gap-override: 0%;
  size-adjust: 135.95%;
}
.__className_6e8b56 {
  font-family: __Roboto_Mono_6e8b56, __Roboto_Mono_Fallback_6e8b56;
  font-style: normal;
}
.__variable_6e8b56 {
  --font-roboto-mono: "__Roboto_Mono_6e8b56", "__Roboto_Mono_Fallback_6e8b56";
}

/*
! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
:after,
:before {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Inter, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: Roboto Mono, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
/* [type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
} */
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
:root {
  --color-bg: #f8fafc;
  --color-bg-secondary: #fff;
  --color-accent: #0ea5e9;
  --color-accent-light: rgba(14, 165, 233, 0.1);
  --color-accent-torch: rgba(29, 78, 216, 0.15);
  --color-text: #475569;
  --color-dark-1: #0f172a;
  --color-dark-2: #334155;
  --color-dark-3: #cbd5e1;
}
.dark {
  --color-bg: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-accent-light: rgba(56, 189, 248, 0.1);
  --color-text: #94a3b8;
  --color-dark-1: #e2e8f0;
  --color-dark-2: #cbd5e1;
  --color-dark-3: #334155;
}
@font-face {
  font-family: agustina;
  src: url(/fonts/Agustina-Signature.otf) format("opentype");
}
* {
  outline-width: 3px;
  outline-offset: 4px;
  outline-color: var(--color-accent);
}
:focus {
  outline-style: dashed;
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.pointer-events-none {
  pointer-events: none;
}
.invisible {
  visibility: hidden;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0;
}
.inset-x-0 {
  left: 0;
  right: 0;
}
.-bottom-0 {
  bottom: 0;
}
.-bottom-0\.5 {
  bottom: -0.125rem;
}
.-top-8 {
  top: -2rem;
}
.bottom-0 {
  bottom: 0;
}
.bottom-1 {
  bottom: 0.25rem;
}
.bottom-1\.5 {
  bottom: 0.375rem;
}
.left-0 {
  left: 0;
}
.left-1\/2 {
  left: 50%;
}
.left-6 {
  left: 1.5rem;
}
.right-0 {
  right: 0;
}
.right-6 {
  right: 1.5rem;
}
.right-auto {
  right: auto;
}
.top-0 {
  top: 0;
}
.top-1 {
  top: 0.25rem;
}
.top-full {
  top: 100%;
}
.-z-20 {
  z-index: -20;
}
.z-30 {
  z-index: 30;
}
.z-50 {
  z-index: 50;
}
.z-\[-1\] {
  z-index: -1;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.\!mb-0 {
  margin-bottom: 0 !important;
}
.\!mb-12 {
  margin-bottom: 3rem !important;
}
.\!mb-5 {
  margin-bottom: 1.25rem !important;
}
.\!mt-20 {
  margin-top: 5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-0 {
  height: 0;
}
.h-0\.5 {
  height: 0.125rem;
}
.h-10 {
  height: 2.5rem;
}
.h-14 {
  height: 3.5rem;
}
.h-2 {
  height: 0.5rem;
}
.h-24 {
  height: 6rem;
}
.h-64 {
  height: 16rem;
}
.h-7 {
  height: 1.75rem;
}
.h-\[140\%\] {
  height: 140%;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[200px\] {
  height: 200px;
}
.h-full {
  height: 100%;
}
.h-max {
  height: -moz-max-content;
  height: max-content;
}
.h-screen {
  height: 100vh;
}
.min-h-\[250px\] {
  min-height: 250px;
}
.min-h-\[280px\] {
  min-height: 280px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-0 {
  width: 0;
}
.w-0\.5 {
  width: 0.125rem;
}
.w-14 {
  width: 3.5rem;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-64 {
  width: 16rem;
}
.w-7 {
  width: 1.75rem;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[120px\] {
  width: 120px;
}
.w-\[90\%\] {
  width: 90%;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-max {
  width: -moz-max-content;
  width: max-content;
}
.min-w-\[120px\] {
  min-width: 120px;
}
.max-w-3xl {
  max-width: 48rem;
}
.max-w-5xl {
  max-width: 64rem;
}
.max-w-\[350px\] {
  max-width: 350px;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-screen-lg {
  max-width: 1024px;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-xl {
  max-width: 36rem;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.-translate-x-1\/2,
.-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}
.translate-x-6 {
  --tw-translate-x: 1.5rem;
}
.translate-x-6,
.translate-y-6 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-6 {
  --tw-translate-y: 1.5rem;
}
.-rotate-45 {
  --tw-rotate: -45deg;
}
.-rotate-45,
.rotate-45 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-45 {
  --tw-rotate: 45deg;
}
.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-auto-250 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.place-items-center {
  place-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.375rem * var(--tw-space-x-reverse));
  margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}
.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.space-y-14 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-32 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(8rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(8rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border-2 {
  border-width: 2px;
}
.border-\[1\.5px\] {
  border-width: 1.5px;
}
.border-\[3px\] {
  border-width: 3px;
}
.border-accent {
  border-color: var(--color-accent);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-bg {
  background-color: var(--color-bg);
}
.bg-bg-secondary {
  background-color: var(--color-bg-secondary);
}
.bg-dark-3 {
  background-color: var(--color-dark-3);
}
.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
.bg-slate-900\/75 {
  background-color: rgba(15, 23, 42, 0.75);
}
.bg-transparent {
  background-color: transparent;
}
.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.bg-torch {
  background-image: radial-gradient(
    525px at 50% 50%,
    var(--color-accent-torch),
    transparent 80%
  );
}
.from-black\/80 {
  --tw-gradient-from: rgba(0, 0, 0, 0.8) var(--tw-gradient-from-position);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.fill-current {
  fill: currentColor;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-2\.5 {
  padding: 0.625rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.\!py-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.font-mono {
  font-family: Roboto Mono, monospace;
}
.font-signature {
  font-family: agustina, sans-serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-\[10px\] {
  font-size: 10px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.\!font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.capitalize {
  text-transform: capitalize;
}
.\!normal-case {
  text-transform: none !important;
}
.leading-\[1\.1\] {
  line-height: 1.1;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.tracking-tighter {
  letter-spacing: -0.05em;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.\!text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.text-accent {
  color: var(--color-accent);
}
.text-dark-1 {
  color: var(--color-dark-1);
}
.text-dark-2 {
  color: var(--color-dark-2);
}
.text-sky-400 {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
}
.text-slate-200 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
.text-slate-900 {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
.text-slate-900\/75 {
  color: rgba(15, 23, 42, 0.75);
}
.text-text {
  color: var(--color-text);
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}
.shadow-2xl,
.shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
}
.shadow-md,
.shadow-xl {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.delay-100 {
  transition-delay: 0.1s;
}
.duration-150 {
  transition-duration: 0.15s;
}
.duration-200 {
  transition-duration: 0.2s;
}
.duration-300 {
  transition-duration: 0.3s;
}
.duration-500 {
  transition-duration: 0.5s;
}
.ease-in-scroll {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.\[writing-mode\:vertical-lr\] {
  writing-mode: vertical-lr;
}
.h2,
.heading-secondary {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-dark-2);
}
@media (min-width: 640px) {
  .h2,
  .heading-secondary {
    margin-bottom: 3rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.h3,
.heading-tertiary {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  color: var(--color-dark-2);
}
@media (min-width: 640px) {
  .h3,
  .heading-tertiary {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.before\:mr-3:before {
  content: var(--tw-content);
  margin-right: 0.75rem;
}
.before\:block:before {
  content: var(--tw-content);
  display: block;
}
.before\:text-accent:before {
  content: var(--tw-content);
  color: var(--color-accent);
}
.before\:content-\[\'\25b9\'\]:before {
  --tw-content: "▹";
  content: var(--tw-content);
}
.hover\:-translate-y-1:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-accent-light:hover {
  background-color: var(--color-accent-light);
}
.hover\:text-accent:hover {
  color: var(--color-accent);
}
.focus\:-translate-y-1:focus {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.focus\:bg-accent-light:focus {
  background-color: var(--color-accent-light);
}
.focus\:bg-bg-secondary:focus {
  background-color: var(--color-bg-secondary);
}
.focus\:text-accent:focus {
  color: var(--color-accent);
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.group:hover .group-hover\:visible {
  visibility: visible;
}
.group:hover .group-hover\:w-full {
  width: 100%;
}
.group:hover .group-hover\:translate-x-4 {
  --tw-translate-x: 1rem;
}
.group:hover .group-hover\:translate-x-4,
.group:hover .group-hover\:translate-y-4 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:translate-y-4 {
  --tw-translate-y: 1rem;
}
.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}
.group:hover .group-hover\:scale-105,
.group:hover .group-hover\:scale-110 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
}
.group:hover .group-hover\:space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.group:hover .group-hover\:from-accent {
  --tw-gradient-from: var(--color-accent) var(--tw-gradient-from-position);
  --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.group:hover .group-hover\:text-accent {
  color: var(--color-accent);
}
.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}
.group:focus .group-focus\:w-full {
  width: 100%;
}
.group:focus .group-focus\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:focus .group-focus\:space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.group:focus .group-focus\:from-accent {
  --tw-gradient-from: var(--color-accent) var(--tw-gradient-from-position);
  --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.group:focus .group-focus\:outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
:is(.dark .dark\:bg-slate-700\/90) {
  background-color: rgba(51, 65, 85, 0.9);
}
:is(.dark .dark\:text-slate-100) {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}
:is(.dark .dark\:text-slate-200) {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
:is(.dark .dark\:text-slate-700\/90) {
  color: rgba(51, 65, 85, 0.9);
}
:is(.dark .dark\:shadow-2xl) {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
:is(.dark .dark\:shadow-xl) {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 375px) {
  .xs\:mt-0 {
    margin-top: 0;
  }
  .xs\:mt-8 {
    margin-top: 2rem;
  }
  .xs\:grid-cols-auto-300 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .xs\:gap-7 {
    gap: 1.75rem;
  }
}
@media (min-width: 640px) {
  .sm\:inset-0 {
    inset: 0;
  }
  .sm\:block {
    display: block;
  }
  .sm\:h-10 {
    height: 2.5rem;
  }
  .sm\:h-16 {
    height: 4rem;
  }
  .sm\:h-auto {
    height: auto;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:min-h-\[360px\] {
    min-height: 360px;
  }
  .sm\:w-0 {
    width: 0;
  }
  .sm\:w-0\.5 {
    width: 0.125rem;
  }
  .sm\:w-16 {
    width: 4rem;
  }
  .sm\:w-auto {
    width: auto;
  }
  .sm\:min-w-\[180px\] {
    min-width: 180px;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:flex-col {
    flex-direction: column;
  }
  .sm\:gap-10 {
    gap: 2.5rem;
  }
  .sm\:overflow-auto {
    overflow: auto;
  }
  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sm\:\!text-left {
    text-align: left !important;
  }
  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 768px) {
  .md\:invisible {
    visibility: hidden;
  }
  .md\:static {
    position: static;
  }
  .md\:left-auto {
    left: auto;
  }
  .md\:top-auto {
    top: auto;
  }
  .md\:mb-32 {
    margin-bottom: 8rem;
  }
  .md\:mt-10 {
    margin-top: 2.5rem;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-auto {
    height: auto;
  }
  .md\:min-h-\[448px\] {
    min-height: 448px;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:min-w-\[448px\] {
    min-width: 448px;
  }
  .md\:max-w-md {
    max-width: 28rem;
  }
  .md\:transform-none {
    transform: none;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:gap-10 {
    gap: 2.5rem;
  }
  .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }
  .md\:rounded-none {
    border-radius: 0;
  }
  .md\:bg-transparent {
    background-color: transparent;
  }
  .md\:p-0 {
    padding: 0;
  }
  .md\:\!py-24 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .md\:px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .md\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .md\:shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}
@media (min-width: 1024px) {
  .lg\:left-0 {
    left: 0;
  }
  .lg\:left-auto {
    left: auto;
  }
  .lg\:right-0 {
    right: 0;
  }
  .lg\:top-1\/2 {
    top: 50%;
  }
  .lg\:z-0 {
    z-index: 0;
  }
  .lg\:my-2 {
    margin-top: 0.5rem;
  }
  .lg\:mb-2,
  .lg\:my-2 {
    margin-bottom: 0.5rem;
  }
  .lg\:mb-2\.5 {
    margin-bottom: 0.625rem;
  }
  .lg\:mt-3 {
    margin-top: 0.75rem;
  }
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:h-auto {
    height: auto;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:w-3\/5 {
    width: 60%;
  }
  .lg\:max-w-\[45\%\] {
    max-width: 45%;
  }
  .lg\:max-w-\[60\%\] {
    max-width: 60%;
  }
  .lg\:max-w-sm {
    max-width: 24rem;
  }
  .lg\:-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:items-start {
    align-items: flex-start;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }
  .lg\:justify-end {
    justify-content: flex-end;
  }
  .lg\:gap-5 {
    gap: 1.25rem;
  }
  .lg\:gap-x-5 {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .lg\:space-y-36 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(9rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(9rem * var(--tw-space-y-reverse));
  }
  .lg\:space-y-5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }
  .lg\:overflow-visible {
    overflow: visible;
  }
  .lg\:rounded-xl {
    border-radius: 0.75rem;
  }
  .lg\:bg-bg-secondary {
    background-color: var(--color-bg-secondary);
  }
  .lg\:bg-none {
    background-image: none;
  }
  .lg\:object-contain {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .lg\:p-0 {
    padding: 0;
  }
  .lg\:p-5 {
    padding: 1.25rem;
  }
  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-right {
    text-align: right;
  }
  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .lg\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .lg\:\!font-normal {
    font-weight: 400 !important;
  }
  .lg\:\!text-dark-2 {
    color: var(--color-dark-2) !important;
  }
  .lg\:text-accent {
    color: var(--color-accent);
  }
  .lg\:text-inherit {
    color: inherit;
  }
  .lg\:shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
      0 4px 6px -4px var(--tw-shadow-color);
  }
  .lg\:shadow-lg,
  .lg\:shadow-none {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .lg\:shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
  }
  .odd\:lg\:flex-row-reverse:nth-child(odd) {
    flex-direction: row-reverse;
  }
  :is(.dark .dark\:lg\:block) {
    display: block;
  }
}
@media (min-width: 1280px) {
  .xl\:left-12 {
    left: 3rem;
  }
  .xl\:right-12 {
    right: 3rem;
  }
  .xl\:gap-6 {
    gap: 1.5rem;
  }
  .xl\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .xl\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.content-h {
  height: calc(100vh - 180px);
}
